<div class="row my-5">
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <p><strong>Contact Us:</strong></P>
                <p>The Energy Sphere, </p>
                <p>UNITEN – Putrajaya Campus,</p>
                <p>Jalan IKRAM-UNITEN, </p>
                <p>43000 Kajang, Selangor, Malaysia .</p>
                <p><strong>Tel :</strong> +603 – 89212020 ext: 3017/3092/3093; </p>
                <p><strong>Email :</strong> admin.tes@uniten.edu.my</P>
                <hr>
            <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact us</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-12 control-label" for="name">Name</label>
              <div class="col-md-12">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-12 control-label" for="email">Your E-mail</label>
              <div class="col-md-12">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-12 control-label" for="message">Your message</label>
              <div class="col-md-12">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <p>
                    The Energy Sphere (TES) is an advanced training hub in UNITEN that is multidisciplinary in nature
                    focussing on the energy sector.
                </p>
                <p>
                    The Satellite Monitoring Centre was located at Interstellar, The Energy Sphere where the development
                    work, operation and monitoring takes place.
                </p>
                <div class="row">
                    <div class="col-md-12 my-4">
                        <h2 class="pb-2">The initiator </h2>
                         <p class="my-2"><strong>Prof. Dato’ Ir. Dr. Norashidah MdDin</strong></p>
                    </div>
                    <div class="col-md-12 my-4">
                          <h2 class="pb-2">In-charged of Satellite Operation and Maintenance </h2>
                          <p class="my-2"><strong>Dr. Mohd Zafri Baharuddin</strong></p>
                          <p class="my-2"><strong>Dr. Siti Noratiqah Mohamad Deros</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

