<!-- Main content -->
<section class="content mt-2">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">View Map</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <%= image_tag("https://tessat-uniten.s3-ap-southeast-1.amazonaws.com/#{@map.full_name}")%>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [
                [3, "desc"]
            ]
        });
    });
</script>