<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/map_access">DATA MAP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/application_training">APPLICATION & TRAINING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">ABOUT US</a>
                </li>
                <li class="nav-item">
                     <%= link_to('SIGN OUT', destroy_user_session_path, method: :delete, class:"nav-link") %>
                </li>
            </ul>
        </div>
    </div>
</nav>