<div class="container-fluid row text-center">
<div class="col-md-2 my-4">
    <%= image_tag  "energy.png", class:"img-fluid" %>
</div>
<div class="col-md-4 my-4">
    <div class="my-1 title-top">
    <h1>TESSAT</h1>
    <h5>ENERGY SPHERE SATELLITE MONITORING CENTRE</h5>
    </div>
</div>
<div class="col-md-2 my-4">
    <%= image_tag  "vigmas.png", class:"img-fluid"  %>
</div>
<div class="col-md-2 my-4">
    <%= image_tag  "tnb.png", class:"img-fluid"  %>
</div>
<div class="col-md-2 my-4">
    <%= image_tag  "uniten.png", class:"img-fluid"   %>
</div>
</div>